*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    text-align: center;
    font-size: xx-large;
    margin-top: 30px;
    margin-bottom: 30px;
}
#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #767676;
    height: 100px;
    margin-bottom: 20px;
}
#nav button {
    border: 1px none #222222;
    width: 300px;
    height: 100px;
    background-color: #767676;
    font-size: x-large;
}
#nav button:hover {
    cursor: pointer;
    font-weight: bold;
}
#section {
    margin-left: 40px;
    display: flex;
}
#section_center {
    width: 200px;
}
#section a {
    color : #333;
    text-decoration: none;
}

#section ul {
    margin-bottom: 20px;
}
#section ul dl {
    font-weight: bold;
}
#section ul dl,#section ul li {
    margin-bottom: 15px;
}
#iconDns {
    width: 700px;
}
#jQueryDns{
    width: 700px;
}
#bootstrapDns{
    width: 700px;
}